doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Designer Portfolio
  body
    div.container
		    header.header
  			  div.navbar
				    ul.nav
					    li [a href=""Marketplace]
					    li [a href="" Artistsa
  					  li [a href=""Community
  					  li (a Collections)